#mainContainer {
    height: 96%;
    min-height: 85vh;
    width: 94vw;
    padding: 15px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(241, 241, 241);
  }