#listBackground{
    background-image: url(../images/listEasel.png);
  }

.listImage{
    width: 20px;
    margin-left: 10px;
    margin-right: 30px;
    cursor: pointer;
}
.breadList{
    position: absolute;
    left: 34%;
    top: 11%;
    height: 56%;
    max-height: 56%;
    overflow: auto;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 3px solid black;
}

.addBreadForm{
    position: absolute;
    left: 24%;
    bottom: 11%;
}

#detailsFrameContainer {
    position: relative !important;
    border-radius: 3px;
    box-shadow: 2px 2px 2px 2px lightgrey;
    width: 50%;
    max-width: 700px;
    height: 50%;
    max-height: 70vh;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    padding: 30px;
    text-align: center;
}

#detailsFrame{
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    height: 98%;
}